body{
  background-color: #242424;
}
#Header{
  text-align: center;
  background-color: black;

}

a:link, a:visited {
  width: 300px;
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
}
#centerimage{
  margin-top: 50px;
  background-color: gray;
  text-align: center;
}
#Mark{
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  max-width: 100%;
  position: relative;
  animation-name: myAnimation;
  animation-duration: 2s;
  border: 2px solid white;
}

#Gerald{
  position: relative;
  animation-name: myAnimation;
  animation-duration: 2s;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}


@keyframes myAnimation {
  0%   {left:-100px; opacity: 0;}
  100% {left:0px; opacity: 1;}

}



